h1{
  text-align: center;
  text-emphasis-style: double-circle;
  font-size: 30px;
  font-family:cursive
}
#jumbo{
  border-radius: 50%;
  background-image: url(https://i.pinimg.com/736x/79/80/71/7980718561284ee83fa59fd0740b8582--pig-wallpaper-wallpaper-iphone.jpg);
}
.container{
  background-color: black;
}
#well1{
  background-color: #F9E79F;
  border-width:30px
  border-style:inset;

}
#well2{
  background-color:  pink;;
  /* border-width: 10px; */
}
#h2-play{
  text-decoration: underline;
}
h2{
  font-family:cursive;
}
